src/main/resources/TestService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:message name="BerechnePreisAbendessen" />
  <wsdl:message name="Lade" />

  <wsdl:message name="GetWeatherSoapIn" />
  <wsdl:message name="GetWeatherSoapOut" />
  <wsdl:message name="GetCitiesByCountrySoapIn" />
  <wsdl:message name="GetCitiesByCountrySoapOut" />
</wsdl:definitions>